@model IEnumerable<News.Models.NewsModel>
@{
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}


<form action="shousuo" method="post">
    <div>
        输入关键字：<input type="text" name="str" /><input type="submit" value="站内搜索" />
    </div>
    <div style="margin-top:10px;margin-left:100px">
        <select name="Style">
            @for (int i = 0; i < ViewBag.Style.Count; i++)
            {
                 <option>@ViewBag.Style[i]</option>
            }
        </select>
    </div>
</form>

<div style="margin-top:10px">
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                新闻标题
            </th>
            <th>
                新闻类别
            </th>
            <th>
                发布日期
            </th>
            <th>
                编辑
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Style)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueDate)
                </td>
                <td>
                    @Html.ActionLink("编辑", "Edit", new { Style = item.Style }) |
                    @Html.ActionLink("删除", "Delete", new { Style = item.Style })
                </td>
            </tr>
        }

    </table>
</div>

