@model TourUI.Models.Line
@{
    ViewData["Title"] = "删除景区页面";
}

<div class="card">
    <div class="card-header d-flex align-items-center">
        <h4>删除景区</h4>
    </div>
    <div class="card-body">
        <form asp-controller="Line" asp-action="DeleteConfig" method="post">
            @Html.HiddenFor(model => model.LineId)

            @Html.LabelFor(model => model.LineName)
            <div class="form-group">
                @Html.EditorFor(model => model.LineName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LineName, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.LineTypeId)
            <div class="form-group">
                @Html.DropDownListFor(model => model.LineTypeId, ViewBag.Type as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control", @onchange = "Hide()" })
                @Html.ValidationMessageFor(model => model.LineTypeId, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Days)
            <div class="form-group">
                @Html.EditorFor(model => model.Days, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Days, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Price)
            <div class="form-group">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Vehicle)
            <div class="form-group">
                @Html.EditorFor(model => model.Vehicle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vehicle, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Hotel)
            <div class="form-group">
                @Html.EditorFor(model => model.Hotel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hotel, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.HasMeal)
            <div class="form-group">
                @Html.EditorFor(model => model.HasMeal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HasMeal, "", new { @class = "text-danger" })
            </div>
            @Html.HiddenFor(model => model.LineTypeId)
            <div class="form-group">
                <input type="submit" value="删除" class="btn btn-primary">
            </div>
            <a href="/Line/Index">返回线路列表</a>
        </form>
    </div>
</div>