@model ExamUI.Models.Paper
@{
    ViewBag.Title = "删除试卷";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>删除试卷</h2>

<div>
    <h4>试卷信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaperName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaperName)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.PaperExplain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaperExplain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaperTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaperTime)
        </dd>

    </dl>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <input type="submit" value="删除" class="btn btn-default"/> |
        @Html.ActionLink("返回试卷列表","Index")
    </div>
}
