@model IEnumerable<ExamUI.Models.Paper>
@{
    ViewBag.Title = "试卷列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>试卷列表</h2>
<p>
    @Html.ActionLink("添加新的试卷", "Create")
</p>
<table class="table">
    <tr>
        <td>@Html.DisplayNameFor(Model => Model.PaperName)</td>
        <td>@Html.DisplayNameFor(Model => Model.PaperExplain)</td>
        <td>@Html.DisplayNameFor(Model => Model.PaperTime)</td>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@Html.DisplayFor(modelitem => item.PaperName)</td>
    <td>@Html.DisplayFor(modelitem => item.PaperExplain)</td>
    <td>@Html.DisplayFor(modelitem => item.PaperTime)</td>
    <td>@Html.ActionLink("添加考题", "Add", new { PaperId = item.PaperID })</td>
    <td>@Html.ActionLink("编辑", "Edit", new { id = item.PaperID })</td>
    <td>@Html.ActionLink("详情", "Details", new { PaperId = item.PaperID })</td>
    <td>@Html.ActionLink("删除", "Delete", new { id = item.PaperID })</td>
</tr>
    }
</table>